h1 {
    color: darkgreen;
    font-size: larger 75%;
}

.content-name {
color: darksalmon;
font-size: larger 50%;
font-weight: bolder;
border: 1px solid darkturquoise;
background-color: darkolivegreen;
}

.content {
    font-size: larger 25%;
    font-style: inherit;
    background-color: darkslateblue;
    color: white
    
}

.col-lg-4col-md-6_col-sm-12 {
    width: 100%;
    margin: 40px;
    float: left;
    border: 2px solid darkred;
    padding: 20px;
    background-color:darkslategrey;
}

@media (min-width: 992px) {
    .col-lg-4col-md-6_col-sm-12 {
        margin: 40px;
        float: left;
        border: 2px solid darkred;
        padding: 20px;
        background-color: darkslategrey;
    }
    .col-lg-4col-md-6_col-sm-12 {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-4col-md-6_col-sm-12 {
        margin: 40px;
        float: left;
        border: 2px solid darkred;
        padding: 20px;
        background-color: darkslategrey;
    }
    .col-lg-4col-md-6_col-sm-12 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .col-lg-4col-md-6_col-sm-12 {
        margin: 40px;
        float: left;
        border: 2px solid darkred;
        padding: 20px;
        background-color: darkslategrey;
    }
    .col-lg-4col-md-6_col-sm-12 {
        width: 25%;
    }
}